<!DOCTYPE html>
{% extends '/home/nagulesh/Documents/Projects/Ethical_hiring/Hiring_platform/hiring_app/templates/base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Recorder</title>
</head>
<body>
    
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class=" bg-light">
            <h4>Your video records are submitted</h4>
        </div>
      </div>
      
</body>
{% endblock %}